/** main page and shared **/
body {
    font-family: 'Century Gothic';
    margin: 0;
}

nav {
    padding: 10px 0px;
    background-color: #333;
    width: 100vw;
}

nav li {
    display: inline;
    padding: 10px 20px;
    color: #fff;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

nav li a:hover {
    color: rgba(255,255,255,0.4)
}

.nav {
    position: fixed;
}

.sec {
    padding-top: 15vh;
    height: 100vh;
    text-align: center;
}

.sec h2 {
    margin-bottom: 50px;
}

#unit1 {
/*    background-color: rgba(69,56,127,1);*/
    background-color: #75b1a9;
    color: #fff;
}

#unit2 {
/*    background-color: rgba(200,189,255,1);*/
    background-color: #d9b44a;
    color: #fff;
}

#unit3 {
/*    background-color: rgba(138,112,255,1);*/
    background-color: #4f6457;
    color: #fff;
}

.button {
    padding: 13px 20px;
    border-radius: 9px;
    border: 2px solid rgba(255,255,255,255.4);
    color: #fff;
    text-decoration: none;
    margin: 10px 15px;
}

.unit-title {
    text-align: center;
}

/** shared **/
.overview {
    padding: 5px 30px;
}

.overview ul li {
    margin: 10px 0px;
}


.embed-code {
    font-family: 'Consolas', sans-serif;
    font-size: 13px;
    padding: 3px 15px;
    margin: 20px 15px;
    background-color: #EEE;
    list-style: none;
    width: 80%
}

.screen-cap {
	border: solid 2px rgba(200, 200, 200, 0.8);
	margin-left: 30px;
	margin-bottom: 20px;
  width: 30%;
}

.example-list {
	list-style: none
}

.quiz-sec {
    margin-top: 30px;
    margin-bottom: 50px;
}

table td,th {
    padding: 8px 35px;
}

/** Unit 1**/


.section {
    margin-top: 50px;
}

.u1-sec {
    padding: 0px 50px;
    margin-top: 50px;
}

.u1-sec h2 {
    color: #75b1a9;
}

.u1-sec h1 {
    color: #75b1a9;
}

.u1-sec h3 {
    color: #75b1a9;
}

.u1-sec li::before {
    color: #75b1a9;
}

.unit1-overview {
    background-color: #75b1a9;
}

.unit1-overview ul li {
    list-style: none;
}

.unit1-overview ul li a {
    text-decoration: none;
    color: #000;
}

.unit1-overview ul li a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.u1-table tr {
    background-color: #75b1a9;   
    color: #fff;
}

#u1-start-quiz {
    color: #fff;
    background-color: #75b1a9;
    height: 30vh;
    padding: 30px 100px;
}

/** Unit 2 **/

.u2-sec {
    padding: 0px 50px;
    margin-top: 50px;
}

.u2-sec h2 {
    color: #d9b44a;
}

.u2-sec h1 {
    color: #d9b44a;
}

.u2-sec h3 {
    color: #d9b44a;
}

.u2-sec li::before {
    color: #d9b44a;
}

.unit2-overview {
    background-color: #d9b44a;
}

.unit2-overview ul li {
    list-style: none;
}

.unit2-overview ul li a {
    text-decoration: none;
    color: #000;
}

.unit2-overview ul li a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

#u2-start-quiz {
    color: #fff;
    background-color: #d9b44a;
    height: 30vh;
    padding: 30px 100px;
}

/** Unit 3**/
.u3-sec {
    padding: 0px 50px;
    margin-top: 50px;
}

.u3-sec h2 {
    color: #4f6457;
}

.u3-sec h1 {
    color: #4f6457;
}

.u3-sec h3 {
    color: #4f6457;
}

.u3-sec li::before {
    color: #4f6457;
}

.unit3-overview {
    background-color: #4f6457;
    color: #fff;
}

.unit3-overview ul li {
    list-style: none;
}

.unit3-overview ul li a {
    text-decoration: none;
    color: #000;
}

.unit3-overview ul li a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

#u3-start-quiz {
    color: #fff;
    background-color: #4f6457;
    height: 30vh;
    padding: 30px 100px;
}

.method {
    font-family: "Consolas"
}

.u3-table tr {
    background-color: rgba(79, 100, 87, 0.8);   
    color: #eee;
}

/** quizzes **/
.quiz {
    padding: 10px 40px;
}

.quiz .questions {
    margin-top: 30px;
}

.result {
    padding: 10px 50px;
    margin-top: 40px;
}

.quiz-button {
    margin-top: 50px;
    padding: 10px 30px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0);
    font-weight: bold;
    text-decoration: none;
}

.quiz-button-1 {
    border: 2px solid #75b1a9;
    color: #75b1a9;
}

.quiz-button-2 {
    border: 2px solid #d9b44a;
    color: #d9b44a;
}

.quiz-button-3 {
    border: 2px solid #4f6457;
    color: #4f6457;
}

.start-result {
    margin-top: 50px;
}

#header {
    padding-top: 20vh;
    background-image: url("../images/background.JPG");
    background-size: cover;
    color: #fff;
    font-size: 23px;
}